body {
  overflow: hidden;
}

.security-level-top{
  background-color: green; 
  color: white; 
  font-size:20px; 
  font-weight:bold
}

.security-level-bottom {
  min-height: 20px;
  background-color: green; 
  color: white; 
  font-size: 20px; 
  font-weight:bold
}

.navbar-offset { margin-top: 52px; }

.shadow {
    -webkit-box-shadow: 14px 18px 36px -13px rgba(0,0,0,0.76);
    -moz-box-shadow: 14px 18px 36px -13px rgba(0,0,0,0.76);
    box-shadow: 14px 18px 36px -13px rgba(0,0,0,0.76);
}

/*#titlesRow {*/
  /*margin-right: 15px;*/
/*}*/

#mapsRow {
  /*margin-right: 15px;*/
}

#toc {
  /*height: 642px;*/
  /*bottom: 0px; */
}

.ol-viewport{
    border: solid 2px #57a3ff;
    height: 100% !important;

}

#mapOmar {
    /*position: absolute;*/
    top: 0px;
    z-index: 35;
    /*bottom: 29px;*/
    /*left: 270px;*/
}

#mapTile {
    /*position: absolute;*/
    top: 0px;
    z-index: 35;
    /*bottom: 29px;*/
    /*right: -10px;*/
}

/* Move the attribution above footer */
#mapOmar .ol-attribution{
  bottom: 2.5em;
}

/* Move the attribution above footer */
#mapTile .ol-attribution{
  bottom: 2.5em;
}

/* Move the scale bar above footer */
#mapOmar .ol-scale-line {
  bottom: 2.5em;
}

/* Move the scale bar above footer */
#mapTile .ol-scale-line {
  bottom: 2.5em;
}

/* Move the fullscreen toggle to the top right */
#mapOmar .ol-full-screen {
  top: 65px;
  left: auto;
  right: 6px;
 }

 /* Move the fullscreen toggle to the top right */
#mapTile .ol-full-screen {
  top: 65px;
  left: auto;
  right: 6px;
 }

 #mapOmar .ol-rotate {
   top: 2.25em;
 }

 #mapTile .ol-rotate {
   top: 2.25em;
 }

/* Move the zoomslider to the top right and style it up a bit */
#mapOmar .ol-zoomslider {
  top: 34px;
  left: auto;
  right: 50px;
  background-color: rgba(0,60,136,0.2);
  width: 200px;
  height: 15px;
  padding: 0;
  box-shadow: 0 0 5px rgb(0,60,136);
  border-radius: 20px;
}

/* Move the zoomslider to the top right and style it up a bit */
#mapTile .ol-zoomslider {
  top: 34px;
  left: auto;
  right: 50px;
  background-color: rgba(0,60,136,0.2);
  width: 200px;
  height: 15px;
  padding: 0;
  box-shadow: 0 0 5px rgb(0,60,136);
  border-radius: 20px;
}

#mapOmar .ol-zoomslider:hover {
  background-color: rgba(0,60,136,0.3);
}

#mapTile .ol-zoomslider:hover {
  background-color: rgba(0,60,136,0.3);
}

#mapOmar .ol-zoomslider-thumb {
  height: 15px;
  width: 15px;
  margin: 0;
  filter: none;
  background-color: rgba(0,60,136,0.6);
  border-radius: 20px;
}

#mapTile .ol-zoomslider-thumb {
  height: 15px;
  width: 15px;
  margin: 0;
  filter: none;
  background-color: rgba(0,60,136,0.6);
  border-radius: 20px;
}

#mapOmar a.ol-zoomslider-handle:hover {
  background-color: rgba(0,60,136,0.7);
}

#mapTile a.ol-zoomslider-handle:hover {
  background-color: rgba(0,60,136,0.7);
}

#mapOmar .ol-zoom { 
  top: 30px;
  font-size: 1.2em; 
}

#mapTile .ol-zoom { 
  top: 30px;
  font-size: 1.2em; 
}

/* BEGIN OMAR WFS Feed */
#image-card {
    /*margin-left: 5px;*/
    border-top: 1px solid #57a3ff;
    border-left: 1px solid #57a3ff;
    border-right: 1px solid #57a3ff;
    margin-bottom: 0px;
    border-radius: 6px;
}

#omarImageList .row:hover {
    background-color: #eeeeee;
    /*border: 1px solid #57a3ff;*/
    /*-webkit-box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.75);*/
    /*-moz-box-shadow:    3px 3px 3px 0px rgba(50, 50, 50, 0.75);*/
    /*box-shadow:         3px 3px 3px 0px rgba(50, 50, 50, 0.75);*/
}

.image-card-thumb {
    margin-left: -8px;
    cursor: pointer;
}

.omar-thumb {
    width: 75px;
    height: 75px;
    margin-top: 10px;
}

.image-card-info {
    margin-left: 43px;
    padding-top: 8px;
    padding-right: 0px;
    font-size: 9px;
}

/*.image-card-info strong {*/
    /*color: #ccc;*/
/*}*/

.image-card-info hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-card-info .fa {
    color: #57a3ff;
    cursor: pointer;
}

/*#left, #right {*/
    /*position: relative;*/
    /*float: left;*/
    /*margin: 0 5px 0 0;*/
    /*border: 1px solid #337ab7;*/
    /*width: 200px;*/
    /*height: 400px;*/
    /*overflow: hidden;*/
/*}*/

/*div.panel {*/
    /*position: absolute;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: none;*/
/*}*/
/* END OMAR WFS Feed */
